<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baruckis.nanodegree.spotifystreamer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainArtistsListActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ArtistTracksListActivity"
            android:parentActivityName=".activities.MainArtistsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainArtistsListActivity" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_settings"></activity>

        <service android:name="PlayerService" />
    </application>

</manifest>
